* {
    background-color: rgb(233, 240, 224);
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 1rem;
    gap: 30px;
}

.form_container input {
    width: 30vw;
    height: 5vh;
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid gray;
}

.form_container button {
    padding: 0.6rem;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1rem;
    border: 2px solid gray;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}